body {
  margin: 0;
  font-family: Verdana, sans-serif;
}

.carousel .carousel-indicators li {
  width: 18px;
  height: 18px;
  border-radius: 100%;
}
.carousel .carousel-inner .carousel-item #bannerMob {
  display: none;
}
.carousel .carousel-inner .carousel-item .carousel-caption {
  transform: translateY(-50%);
  bottom: initial;
  top: 50%;
}
.carousel .carousel-inner .carousel-item .carousel-caption .titleBannerSapato {
  font-size: 5.5vw;
  letter-spacing: 20px;
}
.carousel .carousel-inner .carousel-item .carousel-caption .descBanner {
  font-size: 1vw;
  letter-spacing: 3px;
  font-weight: 500;
}
.carousel .carousel-inner .carousel-item .carousel-caption .buttonBanner {
  padding: 20px 30px;
  background-color: #fff;
  border: none;
  color: black;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8vw;
  cursor: pointer;
  border-radius: 50px;
}

@media (max-width: 1199px) {
  .carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
  .carousel .carousel-inner .carousel-item #bannerMob {
    display: none;
  }
  .carousel .carousel-inner .carousel-item .carousel-caption .titleBannerSapato {
    font-size: 7.5vw;
  }
  .carousel .carousel-inner .carousel-item .carousel-caption .descBanner {
    font-size: 2vw;
  }
  .carousel .carousel-inner .carousel-item .carousel-caption .buttonBanner {
    font-size: 1.5vw;
    padding: 20px 30px;
  }
}
@media (max-width: 600px) {
  .carousel .carousel-indicators li {
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }
  .carousel .carousel-inner .carousel-item #bannerDesk {
    display: none;
  }
  .carousel .carousel-inner .carousel-item #bannerMob {
    display: block;
    height: 100%;
  }
  .carousel .carousel-inner .carousel-item .carousel-caption .titleBannerSapato {
    font-size: 11vw;
    letter-spacing: 15px;
  }
  .carousel .carousel-inner .carousel-item .carousel-caption .descBanner {
    font-size: 2.5vw;
    letter-spacing: 1px;
  }
  .carousel .carousel-inner .carousel-item .carousel-caption .buttonBanner {
    font-size: 2.5vw;
    padding: 10px 20px;
  }
}
.headerDesktop {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.headerDesktop ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  list-style: none;
  overflow: hidden;
  align-items: center;
  padding: 0;
}
.headerDesktop ul li {
  padding: 25px;
}
.headerDesktop ul li a {
  text-decoration: none;
  color: #333;
  letter-spacing: 1px;
  font-size: 1vw;
}
.headerDesktop .part01Menu {
  padding-left: 50px;
}
.headerDesktop .part03Menu {
  padding-right: 50px;
}

.headerMobile {
  width: 100%;
  z-index: 3;
  display: none;
}
.headerMobile ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.headerMobile li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: #333;
  letter-spacing: 1px;
  font-size: 2vw;
  font-weight: 500;
}
.headerMobile .logo {
  padding-left: 60px;
  padding-right: 60px;
}
.headerMobile .part03Menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.headerMobile .part02Menu {
  display: flex;
  justify-content: center;
  border-top: 0.1px inset;
}
.headerMobile .menu-icon {
  cursor: pointer;
  float: right;
  padding: 38px 20px;
  position: relative;
  user-select: none;
}
.headerMobile .menu-icon .navicon {
  background: #333;
  display: block;
  height: 3px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 28px;
}
.headerMobile .menu-icon .navicon:before {
  top: 5px;
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.headerMobile .menu-icon .navicon:after {
  top: -5px;
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.headerMobile .menu-btn {
  display: none;
}
.headerMobile .menu-btn:checked ~ .menu {
  max-height: 240px;
}
.headerMobile .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.headerMobile .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.headerMobile .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.headerMobile .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  top: 0;
}
.headerMobile .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (max-width: 1199px) {
  .headerDesktop {
    display: none;
  }

  .headerMobile {
    display: block;
  }
}
@media (max-width: 799px) {
  .headerMobile li a {
    font-size: 3vw;
    font-weight: 500;
  }
}
@media (max-width: 600px) {
  .headerMobile li a {
    font-size: 3.2vw;
    font-weight: 700;
  }
}
.productsMobile {
  display: none;
}

.productsDesktop .container-fluid .card {
  border: none;
}
.productsDesktop .container-fluid .card .img-thumbnail {
  border: none;
  width: 60%;
}
.productsDesktop .container-fluid .card .card-body .dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}
.productsDesktop .container-fluid .card .card-body .dot1 {
  margin-left: 0px;
  background-color: black;
}
.productsDesktop .container-fluid .card .card-body .dot2 {
  background-color: #a06949;
}
.productsDesktop .container-fluid .card .card-body .dot3 {
  background-color: #776058;
}

@media (max-width: 1199px) {
  .productsDesktop .container-fluid .card .img-thumbnail {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .productsDesktop {
    display: none;
  }

  .productsMobile {
    display: block;
  }
  .productsMobile .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
  .productsMobile .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  .productsMobile .carousel-inner .container-fluid {
    padding: 0;
    margin: 0;
  }
  .productsMobile .carousel-inner .container-fluid .card {
    border: none;
  }
  .productsMobile .carousel-inner .container-fluid .card .img-thumbnail {
    border: none;
    width: 60%;
    display: flex;
  }
  .productsMobile .carousel-inner .container-fluid .card .card-body .dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
  }
  .productsMobile .carousel-inner .container-fluid .card .card-body .dot1 {
    margin-left: 0px;
    background-color: black;
  }
  .productsMobile .carousel-inner .container-fluid .card .card-body .dot2 {
    background-color: #a06949;
  }
  .productsMobile .carousel-inner .container-fluid .card .card-body .dot3 {
    background-color: #776058;
  }
}
.form {
  height: 100%;
  background-color: black;
}
.form .containerForm {
  padding-top: 5vh;
}
.form .containerForm .row {
  justify-content: space-around;
  margin: 0;
}
.form .containerForm .row .inputsForm .inputMensagem {
  padding-bottom: 130px;
}
.form .containerForm .row .inputsForm .divSubmit {
  display: flex;
  justify-content: flex-end;
}
.form .containerForm .row .inputsForm .divSubmit .submit {
  background-color: white;
  color: black;
  font-size: 40px;
  padding-left: 4%;
  padding-right: 4%;
  text-align: center;
  border: none;
  font-weight: 500;
  margin-bottom: 50px;
}
.form .containerForm .row input {
  color: white;
  background-color: black;
  padding: 4%;
  margin-bottom: 15px;
  max-width: 100%;
  border-radius: 0;
  border: 1px solid #111;
}
.form .containerForm .row input::placeholder {
  color: white;
}
.form .containerForm .row select {
  color: white;
  background-color: black;
  padding: 4%;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 0;
  border: 1px solid #111;
}
.form .containerForm .row select::placeholder {
  color: white;
}
.form .containerForm .row .col-md-5 .col span {
  color: white;
  font-size: 1vw;
  letter-spacing: 2px;
}
.form .containerForm .row .col-md-5 .col h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 3.5vw;
  font-weight: 100;
}
.form .containerForm .row .col-md-5 .textFale {
  margin-bottom: 50px;
}

@media (min-width: 769px) and (max-width: 1199px) {
  .form .containerForm .row .inputsForm input {
    width: 100%;
    padding: 6%;
    padding-right: 15%;
  }
  .form .containerForm .row .inputsForm select {
    width: 100%;
    padding: 6%;
    padding-right: 15%;
  }
  .form .containerForm .row .col-md-5 {
    margin-bottom: 30px;
  }
  .form .containerForm .row .col-md-5 .col span {
    font-size: 2vw;
  }
}
@media (max-width: 769px) {
  .form .containerForm .row {
    justify-content: center;
    margin: 0;
  }
  .form .containerForm .row .inputsForm .inputMensagem {
    padding-bottom: 35%;
  }
  .form .containerForm .row .inputsForm .divInput {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .form .containerForm .row .inputsForm .divSubmit {
    display: flex;
    justify-content: center;
  }
  .form .containerForm .row .inputsForm .divSubmit .submit {
    font-size: 30px;
    padding-left: 6%;
    padding-right: 6%;
    margin-bottom: 50px;
  }
  .form .containerForm .row input {
    max-width: 90%;
  }
  .form .containerForm .row input::placeholder {
    text-align: center;
  }
  .form .containerForm .row select {
    width: 90%;
    text-align-last: center;
  }
  .form .containerForm .row .col-md-5 {
    margin-bottom: 30px;
  }
  .form .containerForm .row .col-md-5 .col {
    text-align: center;
  }
  .form .containerForm .row .col-md-5 .col span {
    font-size: 2.5vw;
  }
  .form .containerForm .row .col-md-5 .col h5 {
    font-size: 5.5vw;
  }
  .form .containerForm .row .col-md-5 .textFale {
    margin-bottom: 15px;
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
